html {
    box-sizing: border-box;
  }
body {
    font-family: Domine, sans-serif; 
  }
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
  
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #007697;
    color: white;
  }
    
.title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #007697;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  .container{
      max-width: 500px;
  }

  h3 {
      text-align: center;
  }